html {
  font-size: 62.5%;
}

body {
  font-family: $font;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1;
}
a {
  color: $light;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

p {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.6px;
  margin: 0;
  color: #666;
  font-weight: 400;
}

ul, h4, h2 {
  margin-bottom: 0;
}

.btn {
  background-color: $primary;
  color: $light;
  border-radius: 0;

  &:hover {
    color: $light;
    background-color: $primary;
  }
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
.gap {
  float: left;
  padding: 100px 0;
  position: relative;
  width: 100%;
}
.no-padding-bottom {
  padding-bottom: 0;
}
.backish::before {
  background: #000000 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  
}
.low-opacity::before {
  opacity: 0.75;
}

.owl-carousel {
  .owl-nav {
    position: absolute;
    top: -5.6rem;
    right: 0;
    margin: 0;
    button.owl-prev,
    button.owl-next {
      background-color: #eee;
      color: #6f6f6f;
      font-size: 1.4rem;
      width: 4rem;
      line-height: 3.5rem;
      transition: all 0.3s linear 0s;
      margin-right: 0.05rem;
      border-radius: 0;

      &:hover {
        background-color: $primary;
        color: $light;
      }
    }
  }
}

@keyframes pointing {
  0% {
    transform: scale(1.7);
    opacity: 1;
  }
  25% {
    transform: scale(2);
    opacity: 0.6;
  }
  50% {
    transform: scale(2.3);
    opacity: 0.3;
  }
  100% {
    transform: scale(2.6);
    opacity: 0;
  }
}
// @keyframes fadeIn {
//   0% { opacity: 0; }
//   100% { opacity: 0.35; }
// }

// @keyframes fadeOut {
//   0% {opacity: 0.35;}
//   100% {opacity: 0;}
// }

#topcontrol {
  color: #fff;
  line-height: 40px;
  text-align: center;
  width: 40px;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  bottom: 5px;
  right: 5px;
  opacity: 1;
  cursor: pointer;
}
